In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df=pd.read_csv('BreastCancerWc.csv',header=None)

In [17]:
df.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

In [18]:
df.columns=['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [19]:
df.shape

(699, 11)

In [20]:
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Sample code number           699 non-null    int64
 1   Clump Thickness              699 non-null    int64
 2   Uniformity of Cell Size      699 non-null    int64
 3   Uniformity of Cell Shape     699 non-null    int64
 4   Marginal Adhesion            699 non-null    int64
 5   Single Epithelial Cell Size  699 non-null    int64
 6   Bare Nuclei                  699 non-null    object
 7   Bland Chromatin              699 non-null    int64
 8   Normal Nucleoli              699 non-null    int64
 9   Mitoses                      699 non-null    int64
 10  Class                        699 non-null    int64
dtypes: int64(10), object(1)
memory usage: 60.2+ KB

In [22]:
df['Bare Nuclei'].value_counts()

Bare Nuclei
1     402
10    132
2      30
5      30
3      28
8      21
4      19
?      16
9       9
7       8
6       4
Name: count, dtype: int64

In [23]:
df.replace('?',np.nan,inplace=True)

In [24]:
df.isna().sum()

Sample code number              0
Clump Thickness                 0
Uniformity of Cell Size         0
Uniformity of Cell Shape        0
Marginal Adhesion               0
Single Epithelial Cell Size     0
Bare Nuclei                    16
Bland Chromatin                 0
Normal Nucleoli                 0
Mitoses                         0
Class                           0
dtype: int64

In [25]:
df.fillna(df.median,inplace=True)

In [26]:
df.isna().sum()

Sample code number             0
Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [27]:
df['Bare Nuclei']=pd.to_numeric(df['Bare Nuclei'],errors='coerce')

In [28]:
df.dtypes

Sample code number               int64
Clump Thickness                  int64
Uniformity of Cell Size          int64
Uniformity of Cell Shape         int64
Marginal Adhesion                int64
Single Epithelial Cell Size      int64
Bare Nuclei                    float64
Bland Chromatin                  int64
Normal Nucleoli                  int64
Mitoses                          int64
Class                            int64
dtype: object

In [29]:
def outliers(df,drop=False):
    for each_feature in df.columns:
        feature_data = df[each_feature]
        Q1=np.percentile(feature_data,25.)
        Q3=np.percentile(feature_data,75.)
        IQR = Q3-Q1
        outlier_step = IQR*1.5
        outliers = feature_data[~((feature_data>=Q1-outlier_step)&(feature_data<=Q3+outlier_step))].index.tolist()
        if not drop:
            print("For the feature {}, No of outliers is {}".format(each_feature,len(outliers)))
        if drop:
            df.drop(outliers,inplace=True,errors='ignore')
            print("For the feature {}, No of outliers is {}".format(each_feature,len(outliers)))

In [30]:
features = ['Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Normal Nucleoli','Mitoses']

In [31]:
outliers(df[features])

For the feature Clump Thickness, No of outliers is 0
For the feature Uniformity of Cell Size, No of outliers is 0
For the feature Uniformity of Cell Shape, No of outliers is 0
For the feature Marginal Adhesion, No of outliers is 60
For the feature Single Epithelial Cell Size, No of outliers is 54
For the feature Bare Nuclei, No of outliers is 699
For the feature Normal Nucleoli, No of outliers is 77
For the feature Mitoses, No of outliers is 120

In [32]:
duplicated = df.duplicated().sum()

In [33]:
duplicated

8

In [34]:
df = df.drop_duplicates()

In [35]:
df

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1.0,3,1,1,2
1,1002945,5,4,4,5,7,10.0,3,2,1,2
2,1015425,3,1,1,1,2,2.0,3,1,1,2
3,1016277,6,8,8,1,3,4.0,3,7,1,2
4,1017023,4,1,1,3,2,1.0,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2.0,1,1,1,2
695,841769,2,1,1,1,2,1.0,1,1,1,2
696,888820,5,10,10,3,7,3.0,8,10,2,4
697,897471,4,8,6,4,3,4.0,10,6,1,4
698,897471,4,8,8,5,4,5.0,10,4,1,4

In [36]:
pip install sklearn

Requirement already satisfied: sklearn in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (0.0.post5)
Note: you may need to restart the kernel to use updated packages.

In [37]:
!pip install sklearn

Requirement already satisfied: sklearn in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (0.0.post5)

In [38]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/omickeyee/jupyter/environment/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [39]:
from sklearn.preprocessing import LabelEncoder
en = LabelEncoder()

In [40]:
for col in df.columns:
    df[col]=en.fit_transform(df[col])

/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])
/tmp/ipykernel_53673/1580920579.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col]=en.fit_transform(df[col])

In [42]:
df['Class']=df['Class'].replace("2","1")
df['Class']=df['Class'].replace("4","2")

/tmp/ipykernel_53673/723289015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Class']=df['Class'].replace("2","1")
/tmp/ipykernel_53673/723289015.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Class']=df['Class'].replace("4","2")

In [44]:
x=df[features]
y=df['Class']

# Model Building

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=124)

In [51]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [52]:
model.fit(x_train,y_train)

MultinomialNB()

In [53]:
y_pred=model.predict(x_test)

In [54]:
from sklearn import metrics

In [60]:
print("Accuracy  ::" ,metrics.accuracy_score(y_test,y_pred)*100)
print("Recall    ::",metrics.recall_score(y_test,y_pred))
print("Precision :: ",metrics.precision_score(y_test,y_pred))
print("F1        :: ",metrics.f1_score(y_test,y_pred))

Accuracy  :: 88.48920863309353
Recall    :: 0.8571428571428571
Precision ::  0.7317073170731707
F1        ::  0.7894736842105263

In [63]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [64]:
model.fit(x_train,y_train)

LogisticRegression()

In [65]:
y_pred=model.fit(x_test)

TypeError: LogisticRegression.fit() missing 1 required positional argument: 'y'